<div class="saide">
    <div class="saide-a">
        <div>
            <form id="baomingForm" action="http://www.studyems.com/home/baoming_api/action/ajax_baoming.html" method="post">
                <ul>
                    <li><input type="text" name="data[XingMing]" placeholder="请输入您的姓名" class="sky"></li>
                    <li><input type="text" name="data[ShouJi]" placeholder="请输入您的手机号码" class="sky phone"></li>
                    <li><input type="text" name="data[LiuYan]" placeholder="请输入您想学习的课程"></li>
                    <li class="la"><button type="submit" class="checkForm">立即报名</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>