
<?php $memberinfo = $memberinfo?$memberinfo:get_memberinfo($_userid);?>
<div class="main-right">
	<div id="jq_userlogin_rt" class="main-right-top">
		<img src="{CSS_PATH}gzsjqt/public/i.jpg">
		<span>您好！<br/>欢迎来到求学快递网</span>
		<div>
			<a href="{APP_PATH}index.php?m=member">登录</a>
			<a href="{APP_PATH}index.php?m=member&c=index&a=register">注册</a>
		</div>
	</div>
	<div class="main-right-center">
		<span>学员<br/>满意度</span><a>96<small>%</small></a><br/>
		已注册学校：<span>64958家</span><br/>
		已登记课程：<span>274588门</span><br/>
		已成功报名：<span>1036684人</span>
	</div>
	<div class="main-right-down">
		<a href="javascript:;"><i class="fa fa-mortar-board"></i><span>入驻</span></a>
		<a href="javascript:;"><i class="fa fa-newspaper-o"></i><span>资讯</span></a>
		<a href="javascript:;"><i class="fa fa-book"></i><span>题库</span></a>
		<a href="javascript:;"><i class="fa fa-book"></i><span>招聘</span></a>
		<a href="javascript:;"><i class="fa fa-mortar-board"></i><span>名师</span></a>
		<a href="javascript:;"><i class="fa fa-diamond"></i><span>VIP</span></a>
	</div>
</div>