
<div class="link">
    <div class="link-left"></div>
    <div class="link-right">
        <a href="http://www.pptok.com/">PPT模板下载</a>
        <a href="http://www.zqnf.com/">作业答案</a>
        <a href="http://kaoyan.koolearn.com">新东方考研</a>
        <a href="http://www.canet.com.cn/">中国会计网</a>
        <a href="http://xuexiao.51sxue.com/">学校大全</a>
        <a href="http://www.edu84.com/">报名在线</a>
        <a href="http://www.wenku1.com">教育文库</a>
        <a href="http://www.bdkssc.com">职称计算机考试</a>
        <a href="http://www.xzbu.com/">论文网</a>
        <a href="http://www.zgsydw.com/">事业单位招聘考试 </a>
        <a href="http://www.tedu.cn/">IT培训</a>
        <a href="http://www.zikao.gd/">广东省自考网</a>
        <a href="http://www.jisiedu.com/">月亮岛教育网</a>
        <a href="http://www.258en.com">英语</a>
        <a href="http://zj.offcn.com">浙江人事网</a>
        <a href="http://www.051661.com/">幼儿教育网</a>
        <a href="http://i1766.com/">读后感</a>
        <a href="http://www.zzyjs.com/">在职研究生网</a>
        <a href="http://www.51gaoxiao.com/">招考无忧</a>
        <a href="http://www.9ask.cn/">律师咨询</a>
        <a href="http://www.qiuxue365.cn">广州自考</a>
        <a href="http://www.studyems.com/gaokao/">高考专题</a>
        <a href="http://www.studyems.com/zikao/">自考报名</a>
        <a href="http://www.studyems.com/zhongkaow/">中考成绩查询</a>
    </div>
</div>


<div class="friend-link-bg">
    <div class="friend-link">
        <div>
            <p>关于我们</p>
            <ul>
                <li><a rel="nofollow" href="http://www.studyems.com/help/about.html">网站简介</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/map.html">网站地图</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/terms.html">网站条款</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/recruitment.html">加入我们</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/zhandian.html">集团站点</a></li>
            </ul>
        </div>
        <div>
            <p>购课指南</p>
            <ul>
                <li><a rel="nofollow" href="http://www.studyems.com/help/dengji.html">求学登记</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/signup.html">报名流程</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/question.html">常见问题</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/pay.html">付款方式</a></li>
            </ul>
        </div>
        <div>
            <p>消费者保障</p>
            <ul>
                <li><a rel="nofollow" href="http://www.studyems.com/help/faith.html">诚信保障</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/safety.html">交易安全</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/convention.html">诚信公约</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/refund.html">退换课流程</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/coupleback.html">意见反馈</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/report.html">投诉举报</a></li>
            </ul>
        </div>
        <div>
            <p>学员专享</p>
            <ul>
                <li><a rel="nofollow" href="http://www.studyems.com/help/vippage.html">会员专享</a></li>
            </ul>
        </div>
        <div>
            <p>商务合作</p>
            <ul>
                <li><a rel="nofollow" href="http://www.studyems.com/help/in.html">入驻流程</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/ad.html">广告服务</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/admissions.html">招生服务</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/join.html">分站加盟</a></li>
                <li><a rel="nofollow" href="http://www.studyems.com/help/connect.html">联系我们</a></li>
            </ul>
        </div>
        <p class="friend-link-p">
            <span>官方微信公众号</span>
            <img src="../Images/studyems.jpg">
        </p>
    </div>
</div>

<div class="footer">
    <div>版权所有 CopyRight 2008-2017 粤ICP备14009694号 www.studyems.com, Inc. All Rights Reserved</div>
    <!--流量统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d3ef770e27132011e75bc50c23ded044";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>

<!-- 右侧固定菜单 -->
<ul class="fix">
    <li>
        <a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2861079512&site=qq&menu=yes">
            <i class="fa fa-commenting"></i>
        </a>
        <p>在线咨询</p>
    </li>
    <li class="phone-btn">
        <a rel="nofollow"><i class="fa fa-phone"></i></a>
        <p>电话咨询</p>
        <div class="float-phone">
            <i class="fa fa-phone"></i> 15915748007
        </div>
    </li>
    <li class="weixin-btn">
        <a rel="nofollow"><i class="fa fa-wechat"></i></a>
        <p>官方微信</p>
        <div class="float-weixin">
            <img src="../Images/studyems.jpg">
            <p>扫描二维码<br/>关注公众号</p>
            <small></small>
        </div>
    </li>
    <li class="fankui-btn"><a rel="nofollow"><i class="fa fa-edit"></i></a><p>意见反馈</p></li>
    <li class="la-li"><a><i class="fa fa-angle-up"></i></a></li>
</ul>

<form id="fbForm" class="fk-table" action="http://www.studyems.com/home/feedback.html" method="post">
    <div class="fk-head">
        <p>建议反馈表</p>
        <span>非常感谢您给我们提出的问题或建议，我们会尽快处理！</span>
        <small class="fk-close">&times;</small>
    </div>
    <div class="fk-type">
        <p>反馈类型：</p>
        <label><input type="radio" name="data[type]" value="1" checked> 问题反馈</label>
        <label><input type="radio" name="data[type]" value="2"> 建议反馈</label>
        <img src="../Images/zhedie.png">
    </div>
    <div class="fk-question">
        <p>问题描述：</p>
        <textarea name="data[content]" placeholder="请输入您遇到的问题"></textarea>
    </div>
    <div class="fk-connect">
        <p>您的联系方式：</p>
        <input type="text" name="data[contact]" placeholder="请输入您的手机号码/QQ/电子邮箱">
    </div>
    <button type="submit" class="fk-submit">提 交</button>
    <p>客服电话：020-2986-0669</p>
</form>
<div class="fankui"><p></p></div>
<script src="../Script/jquery-1.11.0.min.js"></script>

<script src="../Script/common.js"></script>
<script src="../Script/jquery.form.min.js"></script>
<script>
    //异步显示顶部用户登录状态（优先执行）
    $.get(
            'http://www.studyems.com/home/api/action/userlogin.html',
            function(data){
                $('#jq_userlogin').html(data);
            }
    );


    //百度自动提交 此程序需要在上线后加入 上线前绝对不可以加
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();


    $(function(){
        //切换城市
        $(".map-outer").hover(function(){
            $(".float-map").show();
        },function(){
            $(".float-map").hide();
            $(".city-search").hide();
        })
        //城市异步搜索
        $(".city-keyword").keyup(function(){
            var val = $(this).val();
            var phd = $(this).attr('placeholder');
            if($.trim(val) != '' || val != phd){
                //搜索结果
                $.post(
                        'http://www.studyems.com/home/station_api/action/ajax_city_search.html',
                        {'keyword':val},
                        function(data){
                            $(".city-search").html(data).slideDown('fast');
                        }
                );
            }else{
                $(".city-search").slideUp('fast');
            }
        })
    });
</script>

<script src="../Script/lazyload.js"></script>
<script src="../Script/index.js"></script>
<script>
    $(".lazy").lazyload({effect: "fadeIn"});

    //刷新"猜你喜欢"广告
    var offset = 5;	//偏移量
    function adFavor(){
        $.ajax({
            url:'http://www.studyems.com/home/ad_api/action/ajax_ad_favor.html',
            data:{'offset':offset},
            async:false,
            success:function(data){
                if(data == '0'){
                    alert('没有更多了');
                }else{
                    $('#adFavorL').html(data);
                    offset += 5;
                }
            }
        });
    }

    //异步显示右侧用户登录状态
    $(function(){
        $.get(
                'http://www.studyems.com/home/api/action/userlogin_index.html',
                function(data){
                    $('#jq_userlogin_rt').html(data);
                }
        );
    });

    //公用选项卡额外功能（品牌机构、本周推荐异步加载列表）
    $(".tab-head-title a").mouseover(function(){
        var big_catid = $(this).data('catid');
        if(!big_catid) return false;
        $(this).data('catid', '');	//保证只执行一次
        var action = $(this).parent().data('action');
        action = 'ajax_index_'+action;
        var $_this = $(this);
        //加载数据
        $.post(
                'http://www.studyems.com/home/index_api.html',
                {
                    'action':action,
                    'big_catid':big_catid
                },
                function(data){
                    var index = $_this.index();
                    var $tab_con = $_this.parent().parent().next().children().eq(index);
                    var school = $('.r-text-l ul', data).html();
                    var course = $('.r-text-r ul', data).html();
                    $('.r-text-l ul', $tab_con).html(school);
                    $('.r-text-r ul', $tab_con).html(course);
                }
        );
    })
</script>
</body>
</html>