<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>求学快递网,教育培训学校,免费求学招生信息发布</title>
    <meta name="keywords" content="教育培训,培训机构,成人高考,培训课程,自考本科,英语培训,培训学校,高职高考,求学快递网">
    <meta name="description" content="求学快递网,招生培训,教育培训,免费招生信息发布平台.求学快递网汇聚众多教育培训机构培训学校和著名教师提供网上招生,自考本科,英语培训,成人高考培训课程,教育加盟等海量的教育培训信息,是国内目前培训课程最多,招生用户最多的教育招生培训网站,业务扩展到全国100多个城市…">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-agent" content="format=html5; url=http://m.studyems.com/">
    <meta name="mobile-agent" content="format=xhtml;url=http://m.studyems.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <base target="_blank"/>
    <script src="{CSS_PATH}gzsjqt/js/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">uaredirect('http://m.studyems.com/');</script>
    <link href="http://www.studyems.com/favicon.ico" rel="icon" type="text/x-icon">
    <link href="{CSS_PATH}gzsjqt/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}gzsjqt/css/common.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}gzsjqt/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--公共头部-->

<div class="top-outer">
    <div class="top">
        <div class="top-left">
            <a id="gohome" href="http://www.studyems.com/"><i class="fa fa-home"></i> 首页</a>
            欢迎来到求学快递网！
            <span id="jq_userlogin">您尚未 <a rel="nofollow" href="http://user.studyems.com/">[登录]</a> 或 <a rel="nofollow" href="http://user.studyems.com/member/reg.html">[注册]</a></span>
        </div>
        <ul class="top-right">
            <li class="top-toggle">
                <a>关注我们<i class="fa fa-angle-down"></i></a>
                <ul class="top-toggle-con">
                    <li class="top-toggle-li"><img src="../Images/studyems.jpg"></li>
                </ul>
            </li>
            <li><a href="http://www.studyems.com/help/vippage.html">会员制度</a></li>
            <li><a href="http://www.studyems.com/home/cyjm.html">分站加盟</a></li>
        </ul>
    </div>
</div>

<div class="common-head-outer">
    <div class="common-head">
        <div class="common-head-left">
            <a href="http://www.studyems.com/" style="float:left;margin-left:0;">
                <h1><img src="../Images/logo.jpg"></h1>
            </a>
            <div class="map-outer">
                <span>总站 <i class="fa fa-angle-down"></i></span>
                <div class="float-map">
                    <p class="float-map-top">总站 <i class="fa fa-angle-down"></i></p>
                    <div>
                        <form class="city-form">
                            <p>热门城市</p>
                            <span>城市搜索：</span>
                            <input type="text" class="city-keyword" placeholder="拼音简码/中文">
                            <ul class="city-search">&nbsp;</ul>
                        </form>
                        <ul>
                            <li><a style="color:#dc201e" href="http://www.studyems.com/">总站</a></li>
                            <li><a href="http://www.studyems.com/beijing/">北京</a></li>
                            <li><a href="http://www.studyems.com/hefei/">合肥</a></li>
                            <li><a href="http://www.studyems.com/fuzhou/">福州</a></li>
                            <li><a href="http://www.studyems.com/quanzhou/">泉州</a></li>
                            <li><a href="http://www.studyems.com/xiamen/">厦门</a></li>
                            <li><a href="http://www.studyems.com/guangzhou/">广州</a></li>
                            <li><a href="http://www.studyems.com/dongguan/">东莞</a></li>
                            <li><a href="http://www.studyems.com/foshan/">佛山</a></li>
                            <li><a href="http://www.studyems.com/shenzhen/">深圳</a></li>
                            <li><a href="http://www.studyems.com/shijiazhuang/">石家庄</a></li>
                            <li><a href="http://www.studyems.com/haerbin/">哈尔滨</a></li>
                            <li><a href="http://www.studyems.com/wuhan/">武汉</a></li>
                            <li><a href="http://www.studyems.com/changsha/">长沙</a></li>
                            <li><a href="http://www.studyems.com/changchun/">长春</a></li>
                            <li><a href="http://www.studyems.com/nanjing/">南京</a></li>
                            <li><a href="http://www.studyems.com/sz/">苏州</a></li>
                            <li><a href="http://www.studyems.com/wuxi/">无锡</a></li>
                            <li><a href="http://www.studyems.com/xuzhou/">徐州</a></li>
                            <li><a href="http://www.studyems.com/yangzhou/">扬州</a></li>
                            <li><a href="http://www.studyems.com/nanchang/">南昌</a></li>
                            <li><a href="http://www.studyems.com/dalian/">大连</a></li>
                            <li><a href="http://www.studyems.com/shenyang/">沈阳</a></li>
                            <li><a href="http://www.studyems.com/jinan/">济南</a></li>
                            <li><a href="http://www.studyems.com/qingdao/">青岛</a></li>
                            <li><a href="http://www.studyems.com/taiyuan/">太原</a></li>
                            <li><a href="http://www.studyems.com/xian/">西安</a></li>
                            <li><a href="http://www.studyems.com/chengdu/">成都</a></li>
                            <li><a href="http://www.studyems.com/hangzhou/">杭州</a></li>
                            <li><a style="color:#dc201e" href="http://www.studyems.com/home/station.html">更多城市>></a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <a href="http://www.studyems.com/home/station.html">切换</a>
        </div>
        <div class="common-head-center">
            <div class="search-tab">
                <p id="search-tab-active" data-name="课程名称" data-url="http://www.studyems.com/px.html">课程</p>
                <p  data-name="学校名称" data-url="http://www.studyems.com/school.html">学校</p>
                <p  data-name="老师姓名" data-url="http://www.studyems.com/teacher.html">老师</p>
            </div>
            <form class="search-outer" method="get" action="http://www.studyems.com/px.html">
                <p></p>
                <input type="text" class="search-inp" name="keyword" value="请输入您要搜索的课程名称">
                <button type="submit">搜 索</button>
            </form>
            <div class="search-hot">
                <ul >
                    <a href="http://www.studyems.com/px.html?keyword=成考">成考</a>
                    <a href="http://www.studyems.com/px.html?keyword=广东学而好">广东学而好</a>
                    <a href="http://www.studyems.com/px.html?keyword=学而好">学而好</a>
                    <a href="http://www.studyems.com/px.html?keyword=会计">会计</a>
                    <a href="http://www.studyems.com/px.html?keyword=会计培训">会计培训</a>
                </ul>
                <ul style="display:none;">
                </ul>
                <ul style="display:none;">
                </ul>
            </div>
        </div>
        <div class="common-head-right">
            <a href="http://user.studyems.com/?forward=http://user.studyems.com/company/index.html" onclick="alert('请登录后操作')"><i class="fa fa-edit"></i> 免费发布信息</a>
        </div>
    </div>
</div>
<div class="nav-outer">
    <div class="nav">
        <p>所有课程分类</p>
        <a id="nav-home" target="_self" href="http://www.studyems.com/"><h2>首页</h2></a>
        <a href="http://www.studyems.com/px.html"><h2>培训课程</h2></a>
        <a href="http://www.studyems.com/school.html"><h2>培训学校</h2></a>
        <a href="http://www.studyems.com/teacher.html"><h2>名师会</h2></a>
        <a href="http://www.studyems.com/kaoshi/"><h2>求学资讯</h2></a>
        <a href="http://wangxiao.studyems.com/norm"><h2>网校</h2></a>
        <a href="http://ks.studyems.com"><h2>考场</h2></a>
        <a href="http://zp.studyems.com"><h2>招聘</h2></a>
        <a href="http://tg.studyems.com"><h2>团购</h2></a>
    </div>
</div>