<div class="fixed-header">
    <div class="fixed-search">
        <div class="fixed-search-mid">
            <a href="http://www.studyems.com/" class="fixed-logo"><img src="../Images/fixed-logo.png"></a>

            <div class="fixed-nav">
                <a href="http://www.studyems.com/px.html">培训课程</a>
                <a href="http://www.studyems.com/school.html">培训学校</a>
                <a href="http://www.studyems.com/teacher.html">名师会</a>
            </div>

            <div class="fixed-search-frame">
                <form action="http://www.studyems.com/px.html" method="get">
                    <div class="get-val-wrap">
                        <span class="get-val">课程</span> <i class="fa fa-angle-down" data-type="fa fa-angle-up"></i>
                    </div>
                    <input class="fixed-search-inp" type="text" name="keyword" placeholder="请输入您想搜索的课程">
                    <button class="fixed-search-sub" type="submit"><i class="fa fa-search"></i></button>
                    <ul class="fixed-se-ul">
                        <li class="fixed-se-li" id="course2" data-url="http://www.studyems.com/px.html">课程</li>
                        <li class="fixed-se-li" id="school2" data-url="http://www.studyems.com/school.html">学校</li>
                        <li class="fixed-se-li" id="teacher2" data-url="http://www.studyems.com/teacher.html">老师</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>